[general]

; Database connection
; database = "mysql://user[:password]@host/database"
database = "mysql://root@localhost/varena2"

; Interface language
locale = ro_RO.utf8

; Name of the cookie we set on the client browser for persistent logins
loginCookieName = loginCookie

; Password that must be supplied with all API requests
apiPassword = 1234

[logging]

; Log file name. Can also be "php://stdout" or "php://stderr"
file = "/tmp/varena2.log"

; Maximum priority level. See <http://php.net/manual/en/function.syslog.php>.
level = LOG_DEBUG

[eval]

; Evaluator IP addresses
ip[] = 127.0.0.1
; ip[] = 123.45.67.89

; Port on which to listen for notifications
port = 4556

; Index of this eval instance (0-based). Used for sharding.
; Use -1 to forbid this installation from running an eval loop.
index = 0

; URL of the API
api = "http://localhost/varena2/www/api.php"

; Cache directory for test data, graders, sources and binaries
cacheDir = "/tmp/eval"

; Directory where we copy and run each test
workDir = "/tmp/eval-work"

[email]

; When false, prevent the system from sending out any emails
enabled = false

; From address when sending emails
fromHeader = "From: Varena2 <email@example.com>"

; Reply-to address when sending emails
replyToHeader = "Reply-To: Varena2 <email@example.com>"

; signature line at the end of outgoing emails
signature = "The Varena2 team"

[testing]

; When true, put the website in testing mode and use the testing database.
enabled = false

; Testing interface language
locale = en_US.utf8

; Database connection
; database = "mysql://user[:password]@host/database"
database = "mysql://root@localhost/varena2_testing"

; URL to exercise
url = "http://localhost/varena2/www/"
