h3:first-letter {
  text-transform: uppercase;
}

table {
  border-collapse: collapse;
}

a {
  color: #000;
}

div.title {
  background: #444;
  color: white;
  font-size: 20px;
  padding: 5px 10px;
  margin-bottom: 0px;
}

/** forms **/

table.form td {
  padding-bottom: 10px;
  padding-right: 20px;
  vertical-align: text-top;
}

div.fieldDesc {
  color: #444;
  font-size: 12px;
  margin-top: 3px;
}

/** flash messages **/

div.flashMessage {
  clear: both;
  margin: 10px auto;
  padding: 10px 10px 10px 35px;
  width: 600px;
}

div.infoType {
  background: #cfc url("../img/silk/accept.png") 8px 12px no-repeat;
  border: 1px solid green;
  color: green;
}

div.warningType {
  background: #feefb3 url("../img/silk/error.png") 8px 12px no-repeat;
  border: 1px solid #9f6000;
  color: #9f6000;
}

div.errorType {
  background: #fcc url("../img/silk/exclamation.png") 8px 12px no-repeat;
  border: 1px solid red;
  color: red;
}
