h3:first-letter {
  text-transform: uppercase;
}

fieldset legend {
  margin-bottom: 5px;
}

/* footer style */

.footer {
  border-top: 1px solid #bbbbbb;
  margin-top: 20px;
  padding-top: 10px;
  height: 50px;
}

/* as suggested by http://pdenya.com/2013/08/08/vertical-space-in-bootstrap/ */
.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.table td.group-score {
  vertical-align: middle;
}

.table-bordered tr.first-in-group {
  border-top: 2px solid #bbbbbb;
}

/* Glyphicon spacing in <a> tags */
a .glyphicon {
  margin-right: 4px;
}

/* We need containers on datetimepickers, but we don't want the padding. */
.nopadding {
  padding-left: 0px;
}

/* Prettier file upload button */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* Textile styles */

#statement code {
  color: black;
}

#statement .example .file {
  font-family: monospace;
}
