.expand {
  float: left;
  width: 24px;
  height: 24px;
}

.expand.open {
  background: red;
}

.expand.closed {
  background: green;
}

.value {
  min-height: 25px;
  padding: 3px;
}

#menuBar {
  background-color: #90c9e8;
  display: none;
  padding: 3px;
}

#menuActions {
  float: right;
}

#tagTree .list-group {
  margin-bottom: 0px;
}

#tagTree .list-group-item {
}
